{{ range $project := $.Site.Data.projects }}
## [{{ $project.name }}]({{ $project.url }})
{{ $project.description }}
{{ if $project.image }}
{{ printf "![%s](%s)" $project.name $project.image }}
{{ end }}
{{ if $project.pros }}
{{ printf "%s" "### Pros :smile:" | emojify }}
{{ range $pros := $project.pros }}
- {{ $pros }}
{{ end }}
{{ end }}
{{ if $project.cons }}
{{ printf "%s" "### Cons :disappointed:" | emojify }}
{{ range $cons := $project.cons }}
- {{ $cons }}
{{ end }}
{{ end }}
{{ end }}
